{
  "language": "en",
  "version": "0.2",
  "ignorePaths": [
    "{{ app_name }}/static/{{ app_name }}/css/output.css",
    "{{ app_name }}/static/{{ app_name }}/js/vendor/"
  ],
  "words": [
    "{{ project_name }}",
    "{{ app_name }}",
    "django"
  ]
}
