procs:
  django-app:
    shell: "uv run src/manage.py runserver"
    env:
      LOGFIRE_SERVICE_NAME: "django-app"
    stop:
      send-keys: ["<C-c>"]

  django-tasks:
    shell: "watchexec -r uv run src/manage.py db_worker"
    env:
      LOGFIRE_SERVICE_NAME: "django-tasks"
    stop:
      send-keys: ["<C-c>"]

  tailwind:
    shell: |
      docker run -it --rm \
        -v $PWD:/home/bun/app \
        oven/bun \
        /bin/bash -c 'bun install && bunx @tailwindcss/cli --watch -i "src/static/css/input.css" -o "src/static/css/output.css"'
    stop:
      send-keys: ["<C-c>"]

  postgres:
    shell: "docker compose -f docker/compose.yaml up postgres"
    stop:
      send-keys: ["<C-c>"]
