{% raw %}{%{% endraw %} extends "{{ app_name }}/layout/base.html" {% raw %}%}{% endraw %}
{% raw %}{% block title %}{% endraw %}About - {{ project_name }}{% raw %}{% endblock title %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
<div>about</div>
{% raw %}{% endblock content %}{% endraw %}
