{% raw %}{% extends "layout/base.html" %}{% endraw %}
{% raw %}{% block title %}{% endraw %}About - {{ project_name }}{% raw %}{% endblock title %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
  <div>about</div>
  <div class="flex flex-col gap-2">
    <p>Eu ex amet mollit culpa eiusmod velit eu eu aliqua Lorem voluptate. Sunt non proident proident. Velit adipisicing dolor eu excepteur et nisi duis. Lorem tempor elit non velit mollit culpa enim laboris eiusmod nostrud id enim laborum. Laboris pariatur esse mollit esse deserunt quis adipisicing.</p>
    <p>Aute ullamco laboris laborum ullamco est adipisicing cillum in id quis reprehenderit cillum tempor. Sunt quis laboris in esse reprehenderit culpa ad quis voluptate minim ipsum ipsum Lorem. Dolor minim commodo do excepteur exercitation adipisicing irure. Sint id voluptate do enim exercitation.</p>
    <p>In do minim ea. Aliqua ea non eiusmod elit tempor laborum consectetur nulla tempor aliqua irure id nostrud non irure. Pariatur sunt aute eiusmod id ipsum. Deserunt aliqua pariatur magna dolore labore in.</p>
    <p>Eu ex amet mollit culpa eiusmod velit eu eu aliqua Lorem voluptate. Sunt non proident proident. Velit adipisicing dolor eu excepteur et nisi duis. Lorem tempor elit non velit mollit culpa enim laboris eiusmod nostrud id enim laborum. Laboris pariatur esse mollit esse deserunt quis adipisicing.</p>
    <p>Aute ullamco laboris laborum ullamco est adipisicing cillum in id quis reprehenderit cillum tempor. Sunt quis laboris in esse reprehenderit culpa ad quis voluptate minim ipsum ipsum Lorem. Dolor minim commodo do excepteur exercitation adipisicing irure. Sint id voluptate do enim exercitation.</p>
    <p>In do minim ea. Aliqua ea non eiusmod elit tempor laborum consectetur nulla tempor aliqua irure id nostrud non irure. Pariatur sunt aute eiusmod id ipsum. Deserunt aliqua pariatur magna dolore labore in.</p>
  </div>
{% raw %}{% endblock content %}{% endraw %}
