{% raw %}{% extends "layout/base.html" %}{% endraw %}
{% raw %}{% block title %}Home - {{ project_name }}{% endblock title %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
  <div>Home</div>
{% raw %}{% endblock content %}{% endraw %}
