{% raw %}{%{% endraw %} extends "{{ app_name }}/layout/base.html" {% raw %}%}{% endraw %}
{% raw %}{% block title %}{% endraw %}Home - {{ project_name }}{% raw %}{% endblock title %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
  <div>{{ user.email }}</div>
  <a href="{% url 'account_logout' %}">Logout</a>
{% raw %}{% endblock content %}{% endraw %}
