from django.shortcuts import render

from django.http import HttpResponse, HttpRequest


def index(request: HttpRequest):
    return render(request, "{{ app_name }}/index.html")


def about(request: HttpRequest):
    return render(request, "{{ app_name }}/about.html")


def account_profile(request: HttpRequest):
    return render(request, "waitlist_app/accounts/profile.html")

