from django.shortcuts import render

from django.http import HttpResponse, HttpRequest


async def index(request: HttpRequest):
    return render(request, "{{ app_name }}/index.html")


async def about(request: HttpRequest):
    return render(request, "{{ app_name }}/about.html")
