{% raw %}{%{% endraw %} extends "{{ app_name }}/layout/base.html" {% raw %}%}{% endraw %}
{% raw %}{% block title %}{% endraw %}Home - {{ project_name }}{% raw %}{% endblock title %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
  <div>{% raw %}{{ user.email }}{% endraw %}</div>
  <a href="{% raw %}{% url 'account_logout' %}{% endraw %}">Logout</a>
{% raw %}{% endblock content %}{% endraw %}
